.prompt img {height:100px; width:100px; position:absolute; top:-25px; right:-20px;}
.qti-item {width:640px;}

.pciSampleA{
    width:100%;
    padding:10px 20px 16px;
    margin-bottom:20px;
}
.pciSampleA ul.likert{
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
    display:inline-block;
    position: relative;
    top:7px;
}

.pciSampleA ul.likert li{
    float: left;
    text-align: left;
    list-style-type: none;
}

.pciSampleA ul.likert li input{margin: 0 3px; cursor: pointer;}

.pciSampleA .prompt {position:relative;}

.pciSampleA .likert-label {min-width:90px; color: #444;}
.pciSampleA .likert-label-min {text-align: right;}
.pciSampleA .likert-label-max {text-align: left;}
.pciSampleA .likert-label img {position:relative; width:16px;}